{% assign url = request.origin | append: request.path %}
<div class="lazy-item social-share flex items-center gap-1" x-data="">
  <button
    aria-label="{{ 'common.aria_label.copy_link' | t }}"
    @click="
      navigator.clipboard.writeText('{{ url }}')
      $dispatch('show-notification', { type: 'info', title: '{{ 'snippets.social_share.copy_text' | t }}', description: '{{ 'snippets.social_share.share_copy' | t }}' })
    "
    class="button-icon button-icon-outline social-icon"
  >
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.6786 5.07858C15.8502 3.90701 17.7496 3.90701 18.9212 5.07858C20.0928 6.25015 20.0928 8.14965 18.9212 9.32122L17.452 10.7904C17.1005 11.1419 17.1005 11.7117 17.452 12.0632C17.8035 12.4147 18.3733 12.4147 18.7248 12.0632L20.194 10.594C22.0685 8.7195 22.0685 5.68031 20.194 3.80579C18.3195 1.93127 15.2803 1.93127 13.4058 3.80579L9.80579 7.40579C7.93127 9.2803 7.93127 12.3195 9.80579 14.194C9.89329 14.2815 9.98346 14.365 10.0761 14.4445C10.4532 14.7683 11.0214 14.7251 11.3452 14.348C11.669 13.9709 11.6258 13.4027 11.2486 13.0789C11.1906 13.029 11.1338 12.9765 11.0786 12.9212C9.90701 11.7496 9.90701 9.85015 11.0786 8.67858L14.6786 5.07858Z" fill="currentColor"/>
      <path d="M13.9237 9.55524C13.5466 9.23144 12.9784 9.27467 12.6546 9.65179C12.3308 10.0289 12.374 10.5971 12.7512 10.9209C12.8092 10.9708 12.866 11.0233 12.9212 11.0786C14.0928 12.2501 14.0928 14.1496 12.9212 15.3212L9.32122 18.9212C8.14965 20.0928 6.25016 20.0928 5.07858 18.9212C3.90701 17.7496 3.90701 15.8501 5.07858 14.6786L6.54778 13.2094C6.89926 12.8579 6.89926 12.288 6.54778 11.9366C6.19631 11.5851 5.62646 11.5851 5.27499 11.9366L3.80579 13.4058C1.93127 15.2803 1.93127 18.3195 3.80579 20.194C5.68031 22.0685 8.7195 22.0685 10.594 20.194L14.194 16.594C16.0685 14.7195 16.0685 11.6803 14.194 9.80578C14.1065 9.71827 14.0163 9.63475 13.9237 9.55524Z" fill="currentColor"/>
    </svg>
  </button>
  <a
    href="https://www.instagram.com/?url={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Instagram"
    class="button-icon button-icon-outline social-icon"
  >
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.0201 7.35938C9.44866 7.35938 7.39955 9.44866 7.39955 11.9799C7.39955 14.5513 9.44866 16.6004 12.0201 16.6004C14.5513 16.6004 16.6406 14.5513 16.6406 11.9799C16.6406 9.44866 14.5513 7.35938 12.0201 7.35938ZM12.0201 14.9933C10.3728 14.9933 9.0067 13.6674 9.0067 11.9799C9.0067 10.3326 10.3326 9.0067 12.0201 9.0067C13.6674 9.0067 14.9933 10.3326 14.9933 11.9799C14.9933 13.6674 13.6674 14.9933 12.0201 14.9933ZM17.8862 7.19866C17.8862 7.80134 17.404 8.28348 16.8013 8.28348C16.1987 8.28348 15.7165 7.80134 15.7165 7.19866C15.7165 6.59598 16.1987 6.11384 16.8013 6.11384C17.404 6.11384 17.8862 6.59598 17.8862 7.19866ZM20.9397 8.28348C20.8594 6.83705 20.5379 5.55134 19.4933 4.5067C18.4487 3.46205 17.1629 3.14063 15.7165 3.06027C14.2299 2.97991 9.77009 2.97991 8.28348 3.06027C6.83705 3.14063 5.59152 3.46205 4.5067 4.5067C3.46205 5.55134 3.14063 6.83705 3.06027 8.28348C2.97991 9.77009 2.97991 14.2299 3.06027 15.7165C3.14063 17.1629 3.46205 18.4085 4.5067 19.4933C5.59152 20.5379 6.83705 20.8594 8.28348 20.9397C9.77009 21.0201 14.2299 21.0201 15.7165 20.9397C17.1629 20.8594 18.4487 20.5379 19.4933 19.4933C20.5379 18.4085 20.8594 17.1629 20.9397 15.7165C21.0201 14.2299 21.0201 9.77009 20.9397 8.28348ZM19.0112 17.2835C18.7299 18.0871 18.0871 18.6897 17.3237 19.0112C16.1183 19.4933 13.3058 19.3728 12.0201 19.3728C10.6942 19.3728 7.8817 19.4933 6.71652 19.0112C5.91295 18.6897 5.31027 18.0871 4.98884 17.2835C4.5067 16.1183 4.62723 13.3058 4.62723 11.9799C4.62723 10.6942 4.5067 7.8817 4.98884 6.67634C5.31027 5.91295 5.91295 5.31027 6.71652 4.98884C7.8817 4.5067 10.6942 4.62723 12.0201 4.62723C13.3058 4.62723 16.1183 4.5067 17.3237 4.98884C18.0871 5.27009 18.6897 5.91295 19.0112 6.67634C19.4933 7.8817 19.3728 10.6942 19.3728 11.9799C19.3728 13.3058 19.4933 16.1183 19.0112 17.2835Z" fill="currentColor"/>
    </svg>
  </a>
  <a
    href="https://twitter.com/intent/tweet?url={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Twitter"
    class="button-icon button-icon-outline social-icon"
  >
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.6964 7.97108C19.6964 8.16386 19.6964 8.31807 19.6964 8.51084C19.6964 13.8699 15.6482 20 8.20723 20C5.89398 20 3.77349 19.3446 2 18.188C2.30843 18.2265 2.61687 18.2651 2.96386 18.2651C4.85301 18.2651 6.58795 17.6096 7.9759 16.5301C6.20241 16.4916 4.6988 15.3349 4.19759 13.7157C4.46747 13.7542 4.6988 13.7928 4.96867 13.7928C5.31566 13.7928 5.7012 13.7157 6.00964 13.6386C4.15904 13.253 2.77108 11.6337 2.77108 9.66747V9.62892C3.31084 9.93735 3.96627 10.0916 4.62169 10.1301C3.50361 9.39759 2.80964 8.16386 2.80964 6.7759C2.80964 6.00482 3.00241 5.31084 3.3494 4.73253C5.35422 7.16145 8.36145 8.78072 11.7157 8.97349C11.6386 8.66506 11.6 8.35663 11.6 8.04819C11.6 5.81205 13.412 4 15.6482 4C16.8048 4 17.8458 4.46265 18.6169 5.27229C19.5036 5.07952 20.3904 4.73253 21.1614 4.26988C20.853 5.23373 20.2361 6.00482 19.388 6.50602C20.1976 6.42892 21.0072 6.19759 21.7012 5.88916C21.1614 6.6988 20.4675 7.39277 19.6964 7.97108Z" fill="currentColor"/>
    </svg>
  </a>
  <a
    href="https://www.facebook.com/sharer.php?u={{ url }}"
    target="_blank"
    rel="noopener"
    aria-label="Facebook"
    class="button-icon button-icon-outline social-icon"
  >
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16.5195 13.625L17.0117 10.3906H13.8828V8.28125C13.8828 7.36719 14.3047 6.52344 15.7109 6.52344H17.1523V3.74609C17.1523 3.74609 15.8516 3.5 14.6211 3.5C12.0547 3.5 10.3672 5.08203 10.3672 7.89453V10.3906H7.48438V13.625H10.3672V21.5H13.8828V13.625H16.5195Z" fill="currentColor"/>
    </svg>
  </a>
</div>
