<!doctype html>
<html class="no-js scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="luca">
    {% liquid
      if settings.store_favicon != blank
        assign favicon = settings.store_favicon | image_url: width: 32
      else
        assign favicon = 'favicon.png' | asset_url
      endif
    %}
    <link
      fetchpriority="low"
      rel="icon"
      href="{{ favicon }}"
      sizes="32x32"
    >
    
    <meta name="description" content="{{ page_description | default: shop.name | escape }}">
    {% render 'application' %}
    <link rel="preload" href="https://cdn.shopify.com/extensions/f2c2640e-367c-41eb-8ed6-2d360c9af57d/bss-labels-badges-303/assets/bss-pl-style.min.css" as="style">
    <link rel="preload" href="{{ 'splide.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'global.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'custom.css' | asset_url }}" as="style">
    <link rel="preload" href="https://cdn.shopify.com/extensions/002d7645-9523-4e8f-abdf-abd853533697/stok-back-in-stock-alert-462/assets/modal.css" as="style">
    <!-- Hotjar Tracking Code for kokeshi.com.br -->
    <script type="text/lazyload">
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:4934744,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <link rel="canonical" href="{{ canonical_url }}">




    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      window.addEventListener('load', () => document.documentElement.classList.add('ready'));
    </script>

    <!-- shopify/apps -->
    {{ content_for_header }}

    <!-- luca/scripts -->
    {% render 'scripts' %}

    <!-- luca/assets -->
    {% render 'luca' %}

    <!-- luca/custom -->
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">

    {% if settings.scripts_head != blank %}
      {{ settings.scripts_head }}
    {% endif %}
  </head>
  <body class="relative" id="{{ 'page-type-' | append: request.page_type | handleize }}">
    {% sections 'header-group' %}

    {% render 'notification' %}

    <main class="content-for-layout focus-none" role="main" tabindex="-1">
     {% capture layout %} {{ content_for_layout }} {% endcapture %} {{ layout | replace: "<img","<img loading='lazy' " }}
    </main>

    {% sections 'footer-group' %}

    {% if settings.show_whatsapp %}
      {% render 'whatsapp' %}
    {% endif %}

    {% if shop.metaobjects.color.values != blank %}
      <!-- luca/colors -->
      {% render 'colors' %}
    {% endif %}

    {% if settings.scripts_body != blank %}
      {{ settings.scripts_body }}
    {% endif %}

    <link rel="preload" href="{{ 'splide.min.js' | asset_url }}" as="script">
    <script src="{{ 'splide.min.js' | asset_url }}"></script>

    <!-- WPD Start -->
    {% if customer.tags.size > 0 and template != 'cart' %}
      <script>
          document.addEventListener('DOMContentLoaded', function() {
            let checkoutbtninterval = setInterval(function(){
              var x=document.querySelectorAll("input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']");
              var WPD_RedirectToCart = function(e) {
                  e.stopPropagation();
                  e.preventDefault();
                  window.location = '/cart';
                  };
                  for (var i = 0; i < x.length; i++) {
                      x[i].addEventListener('click', WPD_RedirectToCart, false);
                  }
              },500)
        });
      </script>
    {% endif %}
    {% if canonical_url contains 'wpdapp/wholesale' %}
      <style>
         div#shopify-block-14952540001915115444 {
           display: none!important;
         }

        body#page-type.upcartPopupShow {
         overflow-y: scroll !important;
        }

         .menu-fixed ul, .menu-fixed .flex.flex-1.items-center.justify-end.gap-2.lg\:gap-4 {
           display: none;
         }
      </style>
    {% endif %}

    {% if customer.tags.size > 0 and template == 'cart' %}
      {% include 'wcp_cart' %}
    {% endif %}
    <!-- WPD End -->
    <!-- Não remova. Checkout Yampi. -->
    {% capture yampi_snippet_content %}{% include 'YampiSnippet' %}{% endcapture %}
    {% unless yampi_snippet_content contains 'Liquid error' %} {% include 'YampiSnippet' %} {% endunless %}
    <!-- Não remova. Checkout Yampi. -->
  </body>
</html>
