{%- liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif
-%}
<div class="relative isolate overflow-hidden">
  {% liquid
    assign image_class = 'absolute image inset-0 -z-20 h-full w-full object-cover object-right md:object-center'
    if section.settings.cover_mobile != blank
      assign image_desktop_class = image_class | append: ' hidden md:block'
      assign image_mobile_class = image_class | append: ' md:hidden'
    else
      assign image_desktop_class = image_class
      assign image_mobile_class = image_class
    endif
  %}
  {% if section.settings.cover != blank %}
    {{
      section.settings.cover
      | image_url: width: 1920
      | image_tag: loading: loading, fetchpriority: fetchpriority, class: image_desktop_class
    }}
    {% if section.settings.cover_mobile != blank %}
      {{
        section.settings.cover_mobile
        | image_url: width: 600
        | image_tag: loading: loading, fetchpriority: fetchpriority, class: image_mobile_class
      }}
    {% endif %}
  {% elsif section.settings.cover_mobile == blank %}
    {% assign placeholder_class = image_class | append: ' opacity-30' %}
    {% render 'banner-placeholder', image_class: placeholder_class %}
  {% endif %}
  {% if section.settings.url != blank %}
    <a
      aria-label="{{ 'common.aria_label.image' | t }}"
      href="{{ section.settings.url | default: '#' }}"
      class="absolute inset-0 z-10 h-full w-full"
    >
    </a>
  {% endif %}
  <div
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center {{ section.settings.cover_color }} {{ section.settings.cover_opacity }}"
  ></div>
  <div class="wrapper flex h-screen items-center {{ section.settings.text_align }} {{ section.settings.content_align }}">
    <div class="md:w-2/5">
      <h2 class="title font-serif font-bold {{ section.settings.text_color }} {{ section.settings.text_size }}">
        {{ section.settings.title }}
      </h2>
      <div class="description prose mt-6 {{ section.settings.description_color }} {{ section.settings.description_size }}">
        {{ section.settings.description }}
      </div>
      <div class="mt-6 inline-flex gap-4 md:mt-8">
        {% for block in section.blocks %}
          <a
            aria-label="{{- block.settings.button -}}"
            class="{{ block.settings.button_type }} {{ section.settings.button_color }}"
            href="{{ block.settings.button_url | default: '#' }}"
          >
            {{- block.settings.button -}}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.hero_banner.name",
  "class": "hero-banner",
  "blocks": [
    {
      "name": "t:common.headers.button",
      "type": "button",
      "limit": 2,
      "settings": [
        {
          "id": "button",
          "type": "text",
          "label": "t:common.labels.button.write",
          "default": "Botão"
        },
        {
          "id": "button_url",
          "type": "url",
          "label": "t:common.labels.link.select"
        },
        {
          "id": "button_type",
          "type": "select",
          "label": "t:common.labels.button.style",
          "default": "button",
          "options": [
            {
              "label": "t:common.styles.button.solid",
              "value": "button"
            },
            {
              "label": "t:common.styles.button.outline",
              "value": "button button-outline"
            },
            {
              "label": "t:common.styles.button.link",
              "value": "button button-link"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero_banner.name"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.alignment"
    },
    {
      "id": "content_align",
      "type": "select",
      "label": "t:common.labels.alignment.select",
      "default": "justify-start",
      "options": [
        {
          "label": "t:common.alignments.left",
          "value": "justify-start"
        },
        {
          "label": "t:common.alignments.center",
          "value": "justify-center"
        },
        {
          "label": "t:common.alignments.right",
          "value": "justify-end"
        }
      ]
    },
    {
      "id": "text_align",
      "type": "select",
      "label": "t:common.labels.text.alignment",
      "default": "text-left",
      "options": [
        {
          "label": "t:common.alignments.left",
          "value": "text-left"
        },
        {
          "label": "t:common.alignments.center",
          "value": "text-center"
        },
        {
          "label": "t:common.alignments.right",
          "value": "text-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.title"
    },
    {
      "id": "text_size",
      "type": "select",
      "label": "t:common.labels.title.size",
      "default": "text-h2 md:text-h1",
      "options": [
        {
          "label": "t:common.sizes.extra_large",
          "value": "text-h2 md:text-h1"
        },
        {
          "label": "t:common.sizes.large",
          "value": "text-h3 md:text-h2"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "text-h4 md:text-h3"
        },
        {
          "label": "t:common.sizes.small",
          "value": "text-h5 md:text-h4"
        },
        {
          "label": "t:common.sizes.tiny",
          "value": "text-h6 md:text-h5"
        }
      ]
    },
    {
      "id": "text_color",
      "type": "select",
      "label": "t:common.labels.title.color",
      "default": "text-black",
      "options": [
        {
          "label": "t:common.colors.black",
          "value": "text-black"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "text-neutral-600"
        },
        {
          "label": "t:common.colors.white",
          "value": "text-white"
        },
        {
          "label": "t:common.colors.primary",
          "value": "text-primary"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "text-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "text-tertiary"
        }
      ]
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.labels.title.write",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "header",
      "content": "t:common.headers.text"
    },
    {
      "id": "description_size",
      "type": "select",
      "label": "t:common.labels.text.size",
      "default": "text-body-base",
      "options": [
        {
          "label": "t:common.sizes.large",
          "value": "text-body-lg"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "text-body-base"
        },
        {
          "label": "t:common.sizes.small",
          "value": "text-body-sm"
        }
      ]
    },
    {
      "id": "description_color",
      "type": "select",
      "label": "t:common.labels.text.color",
      "default": "text-white",
      "options": [
        {
          "label": "t:common.colors.black",
          "value": "text-black"
        },
        {
          "label": "t:common.colors.white",
          "value": "text-white"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "text-neutral"
        },
        {
          "label": "t:common.colors.primary",
          "value": "text-primary"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "text-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "text-tertiary"
        }
      ]
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "t:common.labels.text.write",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>"
    },
    {
      "type": "header",
      "content": "t:common.headers.buttons"
    },
    {
      "id": "button_color",
      "type": "select",
      "label": "t:common.labels.buttons.color",
      "default": "button-primary",
      "options": [
        {
          "label": "t:common.colors.primary",
          "value": "button-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "button-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "button-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "button-tertiary"
        },
        {
          "label": "t:common.colors.black",
          "value": "button-black"
        },
        {
          "label": "t:common.colors.white",
          "value": "button-white"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.image"
    },
    {
      "id": "cover_color",
      "type": "select",
      "label": "t:common.labels.overlay.color",
      "default": "bg-white",
      "options": [
        {
          "label": "t:common.colors.white",
          "value": "bg-white"
        },
        {
          "label": "t:common.colors.black",
          "value": "bg-black"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "bg-neutral"
        },
        {
          "label": "t:common.colors.primary",
          "value": "bg-primary"
        }
      ]
    },
    {
      "id": "cover_opacity",
      "type": "select",
      "label": "t:common.labels.overlay.opacity",
      "default": "opacity-0",
      "options": [
        {
          "label": "t:common.sizes.large",
          "value": "opacity-90"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "opacity-70"
        },
        {
          "label": "t:common.sizes.small",
          "value": "opacity-30"
        },
        {
          "label": "t:common.sizes.none",
          "value": "opacity-0"
        }
      ]
    },
    {
      "id": "cover",
      "type": "image_picker",
      "label": "t:common.labels.image.select_desktop"
    },
    {
      "id": "cover_mobile",
      "type": "image_picker",
      "label": "t:common.labels.image.select_mobile"
    },
    {
      "type": "header",
      "content": "t:common.headers.link"
    },
    {
      "id": "url",
      "type": "url",
      "label": "t:common.labels.link.select"
    }
  ]
}
{% endschema %}