<div class="mx-auto flex w-full flex-col items-center px-4 py-8 md:max-w-[50rem] md:py-16">
  {% form 'recover_customer_password', novalidate: 'novalidate', class: 'w-full flex flex-col gap-4' %}
    <div class="flex flex-col gap-2">
      <label class="lazy-item text text-body-sm" for="email">{{ 'sections.main_reset_password.email' | t }}</label>
      <input
        id="email"
        name="customer[email]"
        type="email"
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        autofocus
        placeholder="{{ 'common.placeholder.email' | t }}"
        class="input h-12"
        {% if form.errors contains 'e-mail' %}
          aria-invalid="true"
        {% endif %}
      >
    </div>
    <div class="mt-4 flex flex-col gap-2">
      <button type="submit" class="button button-primary">
        {{ 'sections.main_reset_password.send_instructions' | t }}
      </button>
      <a
        aria-label="{{ 'sections.main_register.access' | t }}"
        href="{{ routes.account_login_url | default: '#' }}"
        class="button button-outline button-primary"
      >
        {{ 'sections.main_reset_password.back_to_access' | t }}
      </a>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_reset_password.name",
  "class": "reset-password"
}
{% endschema %}
