{% liquid
  if section.settings.collection != blank
    assign products = section.settings.collection.products
  elsif request.page_type == 'collection'
    assign products = collection.products
  else
    assign products = collections.all.products
  endif
%}

{% if section.settings.collection %}
  <div class="lazy-item section wrapper flex flex-col gap-8 {{ section.settings.background_color }}">
    <div class="flex w-full items-start justify-between gap-6 md:items-center">
      <div class="flex w-full flex-col gap-2 {{ section.settings.text_position }}">
        {% if section.settings.title != blank %}
          <h2 class="title font-serif font-bold md:w-2/3 {{ section.settings.title_size }} {{ section.settings.title_color }}">
            {{ section.settings.title }}
          </h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="description md:w-2/3 {{ section.settings.text_color }} {{ section.settings.text_size }}">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
      {% if section.settings.show_button == 'true' and section.settings.button_position == 'top' %}
        <a
          aria-label="{{- section.settings.button_text -}}"
          type="button"
          href="{{ section.settings.button_url | default: '#' }}"
          class="cursor-pointer whitespace-nowrap {{ section.settings.button_color }} {{ section.settings.button_style }} {{ section.settings.button_size }}"
        >
          {{- section.settings.button_text -}}
        </a>
      {% endif %}
    </div>
    <div
      x-data="
        {
          splide: null,
          init() {
            const splide = new Splide(this.$refs.product_carousel, {
              gap: '1rem',
              drag: 'free',
              padding: {
                right: '6rem',
              },
              perPage: {{ section.settings.desktop_card_quantity }},
              breakpoints: {
                640: {
                  gap: '0.5rem',
                  padding: {
                    right: '2rem',
                  },
                  perPage: {{ section.settings.mobile_card_quantity }}
                }
              },
              pagination: false,
              i18n: {
                prev: '{{ 'common.sr_only.previous' | t }}',
                next: '{{ 'common.sr_only.next' | t }}',
                first: '{{ 'common.aria_label.first_slide' | t }}',
                last: '{{ 'common.aria_label.last_slide' | t }}',
              }
            })

            function initPagination(pagination, index) {
              pagination.addEventListener('click', () =>  splide.go(index))
            }
            const paginations = document.getElementsByClassName('pagination-item-{{ section.id }}')
            let current
            for (let i = 0; i < paginations.length; i++) initPagination(paginations[i], i)
            splide.on('mounted move', () => {
              const pagination = paginations[splide.index]
              if (pagination) {
                if (current) current.classList.remove('active')
                pagination.classList.add('active')
                current = pagination
              }
            })
            splide.mount()
            this.splide = splide
          }
        }
      "
    >
      <div x-ref="product_carousel" class="splide">
        <div class="splide__arrows hidden md:block">
          <div class="absolute -left-2 flex h-full items-center md:left-2">
            <button
              class="button-icon splide__arrow splide__arrow--prev z-10 disabled:hidden {{ section.settings.navigation_button_color }} {{ section.settings.navigation_button_style }} {{ section.settings.navigation_button_size }}"
              type="button"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0303 3.96967C11.3232 4.26256 11.3232 4.73744 11.0303 5.03033L4.81066 11.25H21C21.4142 11.25 21.75 11.5858 21.75 12C21.75 12.4142 21.4142 12.75 21 12.75H4.81066L11.0303 18.9697C11.3232 19.2626 11.3232 19.7374 11.0303 20.0303C10.7374 20.3232 10.2626 20.3232 9.96967 20.0303L2.46967 12.5303C2.17678 12.2374 2.17678 11.7626 2.46967 11.4697L9.96967 3.96967C10.2626 3.67678 10.7374 3.67678 11.0303 3.96967Z" fill="currentColor" />
              </svg>
            </button>
          </div>
          <div class="absolute -right-2 flex h-full items-center md:right-2">
            <button
              class="button-icon splide__arrow splide__arrow--next z-10 disabled:hidden {{ section.settings.navigation_button_color }} {{ section.settings.navigation_button_style }} {{ section.settings.navigation_button_size }}"
              type="button"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9697 3.96967C13.2626 3.67678 13.7374 3.67678 14.0303 3.96967L21.5303 11.4697C21.671 11.6103 21.75 11.8011 21.75 12C21.75 12.1989 21.671 12.3897 21.5303 12.5303L14.0303 20.0303C13.7374 20.3232 13.2626 20.3232 12.9697 20.0303C12.6768 19.7374 12.6768 19.2626 12.9697 18.9697L19.1893 12.75H3C2.58579 12.75 2.25 12.4142 2.25 12C2.25 11.5858 2.58579 11.25 3 11.25H19.1893L12.9697 5.03033C12.6768 4.73744 12.6768 4.26256 12.9697 3.96967Z" fill="currentColor" />
              </svg>
            </button>
          </div>
        </div>
        <div class="splide__track">
          <ul class="product-carousel splide__list">
            {% for product in products %}
              <li class="splide__slide flex">
                {% render 'product-card', product: product, section: section %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <nav class="pagination-dots {{ section.settings.navigation_button_color | replace: 'button-icon', 'pagination' }} mt-8 flex justify-center md:hidden">
          {% for product in products %}
            <button class="pagination-item-{{ section.id }}">
              <span class="sr-only">
                {{- 'common.sr_only.go_to_slider' | t }}
                {{ forloop.index -}}
              </span>
            </button>
          {% endfor %}
        </nav>
      </div>
    </div>
    {% if section.settings.show_button == 'true' and section.settings.button_position == 'bottom' %}
      <a
        aria-label="{{- section.settings.button_text -}}"
        type="button"
        href="{{ section.settings.button_url | default: '#' }}"
        class="cursor-pointer whitespace-nowrap {{ section.settings.button_color }} {{ section.settings.button_style }} {{ section.settings.button_size }}"
      >
        {{- section.settings.button_text -}}
      </a>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "tag": "section",
  "name": "t:sections.product_carousel_simple.name",
  "class": "product-carousel-simple",
  "presets": [
    {
      "name": "t:sections.product_carousel_simple.name"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:common.headers.products"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "t:common.labels.collection.select"
    },
    {
      "id": "button_action",
      "type": "radio",
      "label": "t:common.labels.button_or_card.select_click_behavior",
      "default": "add-to-cart",
      "options": [
        {
          "label": "t:common.options.add_to_cart",
          "value": "add-to-cart"
        },
        {
          "label": "t:common.options.go_to_product",
          "value": "go-to-product"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.title"
    },
    {
      "id": "title_color",
      "type": "select",
      "label": "t:common.labels.title.color",
      "default": "text-black",
      "options": [
        {
          "label": "t:common.colors.black",
          "value": "text-black"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "text-neutral-600"
        },
        {
          "label": "t:common.colors.white",
          "value": "text-white"
        },
        {
          "label": "t:common.colors.primary",
          "value": "text-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "text-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "text-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "text-tertiary"
        }
      ]
    },
    {
      "id": "title_size",
      "type": "select",
      "label": "t:common.labels.title.size",
      "default": "text-h4 md:text-h3",
      "options": [
        {
          "label": "t:common.sizes.extra_large",
          "value": "text-h2 md:text-h1"
        },
        {
          "label": "t:common.sizes.large",
          "value": "text-h3 md:text-h2"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "text-h4 md:text-h3"
        },
        {
          "label": "t:common.sizes.small",
          "value": "text-h5 md:text-h4"
        },
        {
          "label": "t:common.sizes.tiny",
          "value": "text-h6 md:text-h5"
        }
      ]
    },
    {
      "id": "title",
      "type": "text",
      "label": "t:common.labels.title.write",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "header",
      "content": "t:common.headers.text"
    },
    {
      "id": "text_color",
      "type": "select",
      "label": "t:common.labels.text.color",
      "default": "text-black",
      "options": [
        {
          "label": "t:common.colors.black",
          "value": "text-black"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "text-neutral-600"
        },
        {
          "label": "t:common.colors.white",
          "value": "text-white"
        },
        {
          "label": "t:common.colors.primary",
          "value": "text-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "text-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "text-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "text-tertiary"
        }
      ]
    },
    {
      "id": "text_size",
      "type": "select",
      "label": "t:common.labels.text.size",
      "default": "text-body-base",
      "options": [
        {
          "label": "t:common.sizes.large",
          "value": "text-body-lg"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "text-body-base"
        },
        {
          "label": "t:common.sizes.small",
          "value": "text-body-sm"
        }
      ]
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "t:common.labels.text.write",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>"
    },
    {
      "type": "header",
      "content": "t:common.headers.position"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:common.labels.title.position",
      "default": "items-start text-left",
      "options": [
        {
          "label": "t:common.alignments.left",
          "value": "items-start text-left"
        },
        {
          "label": "t:common.alignments.center",
          "value": "items-center text-center"
        },
        {
          "label": "t:common.alignments.right",
          "value": "items-end text-right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.background"
    },
    {
      "id": "background_color",
      "type": "select",
      "label": "t:common.labels.background.color",
      "default": "bg-white",
      "options": [
        {
          "label": "t:common.colors.white",
          "value": "bg-white"
        },
        {
          "label": "t:common.colors.neutral",
          "value": "bg-neutral-100"
        },
        {
          "label": "t:common.colors.black",
          "value": "bg-black"
        },
        {
          "label": "t:common.colors.primary",
          "value": "bg-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "bg-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "bg-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "bg-tertiary"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.navigation"
    },
    {
      "id": "navigation_button_color",
      "type": "select",
      "label": "t:common.labels.buttons.color",
      "default": "button-icon-primary",
      "options": [
        {
          "label": "t:common.colors.primary",
          "value": "button-icon-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "button-icon-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "button-icon-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "button-icon-tertiary"
        },
        {
          "label": "t:common.colors.black",
          "value": "button-icon-black"
        },
        {
          "label": "t:common.colors.white",
          "value": "button-icon-white"
        }
      ]
    },
    {
      "id": "navigation_button_size",
      "type": "radio",
      "label": "t:common.labels.buttons.size",
      "default": "w-12 h-12",
      "options": [
        {
          "label": "t:common.sizes.medium",
          "value": "w-12 h-12"
        },
        {
          "label": "t:common.sizes.small",
          "value": "w-8 h-8 p-1"
        }
      ]
    },
    {
      "id": "navigation_button_style",
      "type": "select",
      "label": "t:common.labels.buttons.style",
      "default": "button-icon",
      "options": [
        {
          "label": "t:common.styles.button.solid",
          "value": "button-icon"
        },
        {
          "label": "t:common.styles.button.outline",
          "value": "button-icon button-icon-outline"
        },
        {
          "label": "t:common.styles.button.ghost",
          "value": "button-icon button-icon-ghost"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.button"
    },
    {
      "id": "show_button",
      "type": "radio",
      "label": "t:common.labels.button.show",
      "default": "true",
      "options": [
        {
          "label": "t:common.options.yes",
          "value": "true"
        },
        {
          "label": "t:common.options.no",
          "value": "false"
        }
      ]
    },
    {
      "id": "button_color",
      "type": "select",
      "label": "t:common.labels.buttons.color",
      "default": "button-primary",
      "options": [
        {
          "label": "t:common.colors.primary",
          "value": "button-primary"
        },
        {
          "label": "t:common.colors.accent",
          "value": "button-accent"
        },
        {
          "label": "t:common.colors.secondary",
          "value": "button-secondary"
        },
        {
          "label": "t:common.colors.tertiary",
          "value": "button-tertiary"
        },
        {
          "label": "t:common.colors.black",
          "value": "button-black"
        },
        {
          "label": "t:common.colors.white",
          "value": "button-white"
        }
      ]
    },
    {
      "id": "button_size",
      "type": "radio",
      "label": "t:common.labels.button.size",
      "default": "py-2",
      "options": [
        {
          "label": "t:common.sizes.large",
          "value": "py-3"
        },
        {
          "label": "t:common.sizes.medium",
          "value": "py-2"
        },
        {
          "label": "t:common.sizes.small",
          "value": "py-1"
        }
      ]
    },
    {
      "id": "button_style",
      "type": "select",
      "label": "t:common.labels.button.style",
      "default": "button button-ghost",
      "options": [
        {
          "label": "t:common.styles.button.solid",
          "value": "button"
        },
        {
          "label": "t:common.styles.button.outline",
          "value": "button button-outline"
        },
        {
          "label": "t:common.styles.button.ghost",
          "value": "button button-ghost"
        }
      ]
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "t:common.labels.title.write",
      "default": "Lorem ipsum"
    },
    {
      "id": "button_url",
      "type": "url",
      "label": "t:common.labels.link.write"
    },
    {
      "type": "header",
      "content": "t:common.headers.position"
    },
    {
      "id": "button_position",
      "type": "select",
      "label": "t:common.labels.button.position",
      "default": "top",
      "options": [
        {
          "label": "t:common.alignments.top",
          "value": "top"
        },
        {
          "label": "t:common.alignments.bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.headers.density"
    },
    {
      "id": "desktop_card_quantity",
      "type": "radio",
      "label": "t:common.labels.cards.quantity_desktop",
      "default": "4",
      "options": [
        {
          "label": "t:common.options.cards.four",
          "value": "4"
        },
        {
          "label": "t:common.options.cards.three",
          "value": "3"
        }
      ]
    },
    {
      "id": "mobile_card_quantity",
      "type": "radio",
      "label": "t:common.labels.cards.quantity_mobile",
      "default": "2",
      "options": [
        {
          "label": "t:common.options.cards.two",
          "value": "2"
        },
        {
          "label": "t:common.options.cards.one",
          "value": "1"
        }
      ]
    }
  ]
}
{% endschema %}